{% extends 'detail.html' %}
{% block modalbody %}
    <div class="modal-body" id="modal-body">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-12">
                    <img class="detail-img img-responsive" src="">
                </div>
            </div>
        </div>
        <hr>
        <div class="modal-details container">
            <table class="display" cellspacing="0" width="100%">
                <tr>
                    <th>Title:</th>
                    <td id="title"></td>
                </tr>
                <tr>
                    <th>Company:</th>
                    <td id="company"></td>
                </tr>
                <tr>
                    <th>From:</th>
                    <td id="from"></td>
                </tr>
                <tr>
                    <th>To:</th>
                    <td id="to"></td>
                </tr>
                <tr>
                    <th>Location:</th>
                    <td id="location"></td>
                </tr>
            </table>
        </div>
        <hr class="slide">
        <div class="container">
            <div class="row detail-table">
                <span id="description"></span>
            </div>
        </div>
    </div>
{% endblock %}