{% extends 'experience/base.html' %}
{% block content %}
    <div id="main" class="container">
        <div id="job">
            <h3>Professional Experience</h3>
            <br>
            <div class="row">
                {% if object_list %}
                    {% for job in object_list %}
                        <div class="col-xs-1 col-sm-3 card-container">
                            <div class="card  primary" data-id="{{ job.pk }}"
                                 data-url="{% url 'experience:detail' job.pk %}">
                                <div class="card-header  frame">
                                    <span class="helper"></span>
                                    <img class="card-img-top" src="{{ job.comp.image.url }}">
                                </div>
                                <div id="card-body" class="card-body">
                                    <h6 id="card-subtitle"
                                        class="card-subtitle mb-2 text-muted">{{ job.comp.name }}</h6>
                                    <h6 id="card-title" class="card-title">{{ job.title }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h6>You don't have any jobs.</h6>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}