.card {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    margin-bottom: 5px;
    color: #000;
}

.primary:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -10px;
    color: #007bff !important;
}

.secondary:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -10px;
    color: #007bff !important;
}

/* keep this for learning, achieving css transitions */
/*.card:hover #my-chev {*/
/*-ms-transform: translate(5px, 0) !*scale(1.5, 1.5)*!;*/
/*-webkit-transform: translate(5px, 0) !*scale(1.5, 1.5)*!;*/
/*transform: translate(5px, 0) !*scale(1.5, 1.5)*!;*/
/*}*/

/*#my-chev {*/
/*-moz-transition: all 0.5s linear;*/
/*-webkit-transition: all 0.5s linear;*/
/*transition: all 0.5s linear;*/
/*float: right;*/
/*}*/

.detail-img {
    max-height: 150px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.detail-table {
    padding-left: 15px;
    padding-right: 15px;
}

.detail-list {
    font-size: x-small;
    display: list-item
}

.card-list {
    font-size: small;
}

.detail-table {
    font-size: small;
}

table.display {
    font-size: small;
}

table.display td {

    width: 182px;
    display: inline-block;
    float: right;
}

.jumbotron {
    border-radius: 0px !important;
}

/* this for removing margins that appear on certification card <li> items while hovering on card*/
.list-group-item:focus, .list-group-item:hover {
    z-index: 0 !important;
}

.helper {
    display: inline-block;
    height: 75%;
    vertical-align: middle;
}

.frame {
    white-space: nowrap;
}

.card-container {
    margin-bottom: 15px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear: both;
    background: #f8f9fa;
    padding: 10px 0;
    font-size: small;
}

.card-img-top {
    height: 200px;
}