{% extends 'detail.html' %}
{% block modalbody %}
    <div class="modal-body" id="modal-body">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-12">
                    <img class="detail-img img-responsive" src="">
                </div>
            </div>
        </div>
        <hr>
        <div class="modal-details container">
            <table class="display" cellspacing="0" width="100%">
                <tr>
                    <th>Name:</th>
                    <td id="degree"></td>
                </tr>
                <tr>
                    <th>Level:</th>
                    <td id="level"></td>
                </tr>
                <tr>
                    <th>Institution:</th>
                    <td id="institution"></td>
                </tr>
                <tr>
                    <th>Started:</th>
                    <td id="from"></td>
                </tr>
                <tr>
                    <th>Graduated:</th>
                    <td id="to"></td>
                </tr>
                <tr>
                    <th>Location:</th>
                    <td id="location"></td>
                </tr>
            </table>
        </div>
        <hr class="slide">
        <div class="container">
            <div class="row detail-table">
                <div id="first-half" class="list-group col-md-5">
                </div>
                <div id="break" class="list-group col-md-2">
                </div>
                <div id="second-half" class="list-group col-md-5">
                </div>
            </div>
        </div>
    </div>
{% endblock %}