{% extends 'qualification/base.html' %}
{% block content %}
    <div id="main" class="container">
        <div id="academic">
            <h3>Education</h3>
            <br>
            <div class="row">
                {% if degree_list %}
                    {% for degree in object_list %}
                        <div class="col-sm-6 col-md-3 card-container">
                            <div class="card primary" data-id="{{ degree.pk }}"
                                 data-url="{% url 'qualification:detail' degree.pk %}">
                                <div class="card-header frame">
                                    <img class="card-img-top" src="{{ degree.school.img.url }}">
                                </div>
                                <div id="card-body" class="card-body">
                                    <h6 id="card-subtitle"
                                        class="card-subtitle mb-2 text-muted">{{ degree.get_level_display }}</h6>
                                    <h6 id="card-title" class="card-title">{{ degree.name }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h6>You don't have any degrees.</h6>
                {% endif %}
            </div>
        </div>
        <div id="certifications">
            <h3>Certifications</h3>
            <br>
            <div class="row">
                {% if certifications %}
                    {% for cert in certifications %}
                        <div class="col-sm-6 col-md-3 ">
                            <div class="card h-100 secondary" data-id="{{ cert.pk }}"
                                 data-href="{{ cert.url }}">
                                <div class="card-header">
                                </div>
                                <div id="card-body" class="card-body">
                                    <h6 id="card-title" class="card-title">
                                        <a id="cert-title" href="{{ cert.url }}" target="_blank">
                                            {{ cert.title }}
                                        </a>
                                    </h6>
                                </div>
                                <ul class="list-group list-group-flush card-list">
                                    <li class="list-group-item card-subtitle text-muted">
                                        <a href="{{ cert.school.url }}" target="_blank">
                                            {{ cert.school }}
                                        </a>
                                    </li>
                                    <li class="list-group-item card-subtitle text-muted">
                                        <a href="{{ cert.provider.url }}" target="_blank">
                                            {{ cert.provider }}
                                        </a>
                                    </li>
                                    <li class="list-group-item card-subtitle text-muted">
                                        {{ cert.year|date:'F, Y' }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br/>
                    {% endfor %}
                {% else %}
                    <h6>You don't have any certifications.</h6>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}