<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div id="modal-dialog .modal-dialog-centered" class="modal-dialog"> {# removed class modal-lg #}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            {% block modalbody %}
            {% endblock %}
            <div class="modal-footer">
                <button type="button" data-active="{{ active }}" class="btn btn-primary view-detail">
                    {% if active == 'qualification' %}
                        View Courses
                    {% elif active == 'experience' %}
                        View Description
                    {% else %}
                        View Detail
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</div>