<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hamza Anas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a {% if active == 'qualification' %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                                                      href="{% url 'qualification:index' %}">Qualifications</a>
            </li>
            <li class="nav-item">
                <a {% if active == 'experience' %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                                                   href="{% url 'experience:index' %}">Experience</a>
            </li>
            <li class="nav-item">
                <a {% if active == 'skill' %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                                              href="{% url 'skill:index' %}">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Me</a>
            </li>
        </ul>
    </div>
</nav>