{% extends 'skill/base.html' %}
{% block content %}
    <div id="main" class="container">
        <div id="primary">
            <h3>Skills</h3>
            <br>
            <div class="row">
                {% if skill_list %}
                    {% for skill in skill_list %}
                        <div class="col-sm-6 col-md-3 card-container">
                            <div class="card h-100 secondary" data-id="{{ skill.pk }}">
                                <div class="card-header">
                                    {{ skill.specialization }}
                                </div>
                                <div id="card-body" class="card-body">
                                    <h6 id="card-title" class="card-title">
                                        {{ skill.name }}
                                    </h6>
                                </div>
                                <ul class="list-group list-group-flush card-list">
                                    <li class="list-group-item card-subtitle text-muted">
                                        {% for lang in skill.language.all %}
                                            {{ lang }}
                                        {% endfor %}
                                    </li>
                                    <li class="list-group-item card-subtitle text-muted">
                                        {{ skill.tools }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br/>
                    {% endfor %}
                {% else %}
                    <h6>You don't have any skills.</h6>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}